{% extends "layout.html" %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}Linekode | Home{% endblock %}


{% block css %}
<link rel="stylesheet" href="{% static '/css/home.css' %}">
<link rel="stylesheet" href="{% static '/css/services.css' %}">
<link rel="stylesheet" href="{% static '/css/contact-form.css' %}">
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
<script type="text/javascript" src="{% static 'js/home.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'js/services.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'js/contact-form.bundle.js' %}"></script>
<script src='https://www.google.com/recaptcha/api.js?hl={{ LANGUAGE_CODE }}'></script>
{% endblock js %}

{% block body_content %}
<div class="wrapper">
    <section id="message" class="block message">
        <h1 class="jumbo">
            {% trans "There are no limits when you love your project. Expanding your project is easier than ever." %}
        </h1>
    </section>

    <section id="value" class="block value">
        <h3>{% trans "How can a website help you grow your business?" %}</h2>
        <div class="container">
            <div class="cell">
                <div id="twenty-four" class="bullet-image"></div>
                <p>24/7  Online presence </p>
            </div>
            <div class="cell">
                <div id="expansion-market" class="bullet-image"></div>
                <p>Target a wider market</p>
            </div>
            <div class="cell">
                <div id="lower-cost" class="bullet-image"></div>
                <p>Reduced marketing costs</p>
            </div>
            <div class="cell">
                <div id="insight" class="bullet-image"></div>
                <p>Consumer insight</p>
            </div>
            <div class="cell">
                <div id="customer-service" class="bullet-image"></div>
                <p>Online customer service</p>
            </div>
            <div class="cell">
                <div id="credibility" class="bullet-image"></div>
                <p>Builds business profile and credibility</p>
            </div>
            <div class="cell">
                <div id="sales" class="bullet-image"></div>
                <p>Increase sales</p>
            </div>
        </div>

        <h4>{% trans "We can make yours and your customers online experience more memorable" %}</h3>
    </section>
    <section class="divider">
        <h2>We expect the challenge</h2>
    </section>
    <section id="services" class="block services">
        <svg id="services-svg"></svg>
    </section>
    <!-- <div class="block burgundy">
        chat with us
    </div> -->
    <div id="contact" class="block contact"></div>
</div>
{% endblock %}