/*****************************  
General
*****************************/

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e5e0e0;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    margin-bottom: -20px;
}

header img {
    display: block;
    margin: 0.2em auto -15px;
    width: 65%;
    max-width: 380px;
}

h3 {
    margin: 0 0 0.5em 0;
}

/*****************************  
NAVIGATION
*****************************/

nav {
    text-align: center;
    padding: 10px 0 10px;
    margin: 0;
    border-bottom: 1px solid #501644;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding:0;
}

nav li {
    display: inline-block;
    /*padding: 1em;*/
}

nav a {
    font-size: 0.8em;
    font-weight: 200;
    padding: 0.4em 0;
    margin: 0 0.4em;

}


/*****************************  
Block Divs
*****************************/

.wrapper {
    /* max-width: 940px; */
    width: 100%;
    margin: 20px auto;
    /*padding: 0 5%;*/
}

.block {
    height: 80vh;
    margin: 0 auto;
    width: 100%;
    background-color: #aaaaaa;
    border-bottom: 1px solid #501644;
}

.value {
    display: flex;   
    align-items: center;
}

.jumbo {
    font-size: 2em;
    font-family: 'Berkshire Swash', cursive, "Open Sans", sans-serif;
    text-align: center;
}

.challenges {
    background-color: #d84949;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    grid-template-rows: 1fr 1fr;
}

.challenges h2 {
    grid-row: 1;
    grid-column: span 12;
    text-align: center;
}

.challenges ul {
    grid-row: 2;
    grid-column: span 6;
    margin-left: 15px;
}


.mustard {
    background-color: #fdda59;
}

/*****************************  
FOOTER
*****************************/

footer {
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #aaa;
}

.social-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}



/* .container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 100px 100px;
    grid-auto-rows: 75px;
    grid-auto-flow: dense;
}

.horizontal {
    grid-column: span 2;
}

.vertical {
    grid-column: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
} */


/*****************************  
PAGE: PORTFOLIO
*****************************/

/*#gallery {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    list-style: none;*/
/*}*/

/*#gallery li {*/
/*    float: left;*/
/*    width: 45%;*/
/*    margin: 2.5%;*/
    /*background-color: #f5f5f5;*/
/*    color: #bdc3c7;*/
/*}*/

/*#gallery li a p {*/
/*    margin: 0;*/
/*    padding: 5%;*/
/*    font-size: 0.75em;*/
/*    color: #bdc3c7;*/
/*}*/
/*****************************  
Heading
*****************************/
/* green header */
/*header {*/
/*    float: left;*/
/*    margin: 0 0 30px 0;*/
/*    padding: 5px 0 0 0 ;*/
/*    width: 100%;*/
/*    background: #e5e0e0;*/
/*    border: none;*/
/*}*/

/*h1, h2 {*/
/*    color: #fff;*/
/*}*/

/* nav background on mobile */
/*nav {*/
/*    border: none;*/
/*}*/

/* nav link*/
/*nav a, nav a:visited {*/
/*    color: #fff;*/
/*}*/

/* selected nav link color */
/*nav a.selected, nav a:hover {*/
/*    color: #32673f;*/
/*}*/

/* site body */
/*body {*/
/*    background-color: #fff;*/
/*    color: #999;*/
/*}*/

/*h1 {*/
/*    font-family: 'Open Sans', sans-serif;*/
/*    margin: 15px 0;*/
/*    font-size: 1.75em;*/
/*    font-weight: normal;*/
/*    line-height: 0.8em;*/
/*}*/

/*h2 {*/
/*    font-size: 0.75em;*/
/*    margin: -5px 0 0;*/
/*    font-weight: normal;*/
/*}*/



/*****************************  
PAGE: About
*****************************/

/*.profile-photo {*/
/*    display: block;*/
/*    max-width: 150px;*/
/*    margin: 0 auto 30px;*/
/*    border-radius: 100%;*/
/*}*/


/*****************************  
PAGE: Contact
*****************************/

/*.contact-info {*/
/*    list-style: none;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    font-size: 0.9em;*/
/*}*/


/*.contact-info a{*/
/*    display: block;*/
/*    min-height: 20px;*/
/*    background-repeat: no-repeat;*/
/*    background-size: 20px 20px;*/
/*    padding: 0 0 0 30px;*/
/*    margin: 0 0 10px;*/
/*}*/



/*.contact-info li.phone a {*/
/*    background-image: url('../img/phone.png');*/
/*}*/

/*.contact-info li.mail a {*/
/*    background-image: url('../img/mail.png');*/
/*}*/

/*.contact-info li.github a {*/
/*    background-image: url('../img/GitHub-Mark.png');*/
/*}*/

/*.text path {*/
/*    stroke-width: 2px;*/
/*}*/