<!-- <form class="form-horizontal" action="" method="POST" novalidate="novalidate">
    {% csrf_token %}

    {% if form.first_name.errors %}
    <div class="row">
        <div class="col-sm-offset-2">
            <div class="form-group has-error">
                <span class="help-block">{{ form.name.errors }}</span>
            </div>
        </div>
    {% endif %}
    <div class="form-group">
        <label class="col-sm-3" for="{{ form.name.html_name }}">{{ form.name.label }}</label>
        <div class="col-sm-9">
            {{ form.name }}
        </div>
    </div>

    {% if form.amount.errors %}
        <div class="row">
            <div class="col-sm-offset-2">
                <div class="form-group has-error">
                    <span class="help-block">{{ form.amount.errors }}</span>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="form-group">
        <label class="col-sm-3" for="{{ form.amount.html_name }}">{{ form.amount.label }}</label>
        <div class="col-sm-9">
            {{ form.amount }}
        </div>
    </div>

    <div class="col-sm-offset-3 col-sm-8">
        <table class="table">
            <tr>
                <th class="text-center">Tenure(s)</th>
                <th class="text-center">Payout(s)</th>
            </tr>
            <tr>
                <td class="text-center">{{ form.t_1 }}</td>
                <td class="text-center">{{ form.v_1 }}</td>
            </tr>
            <tr>
                <td class="text-center">{{ form.t_2 }}</td>
                <td class="text-center">{{ form.v_2 }}</td>
            </tr>
            <tr>
                <td class="text-center">{{ form.t_3 }}</td>
                <td class="text-center">{{ form.v_3 }}</td>
            </tr>
            <tr>
                <td class="text-center">{{ form.t_4 }}</td>
                <td class="text-center">{{ form.v_4 }}</td>
            </tr>
            <tr>
                <td class="text-center">{{ form.t_5 }}</td>
                <td class="text-center">{{ form.v_5 }}</td>
            </tr>
        </table>
    </div>

    {{ form.slug }}
    <div class="col-sm-6">
        <a href="{{ next_url }}" class="btn btn-default">Cancel</a>
        <input type="submit" class="btn btn-primary" value="Save changes" />
    </div>
</form> -->
