.contact
  form
    display: flex
    flex-direction: row
    justify-items: center
    flex-wrap: wrap
    .form-control
      height: 30px
      flex: 1 1 50%
    .label
      flex: 
    .btn-container
      display: flex
      .btn
        flex: 1 1 30%



input:active
  border: none
