{% extends "layout.html" %}
{% load i18n %}
{% load static %}

{% block title %}Linekode | Home{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/home.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'js/services.bundle.js' %}"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/css/home.css' %}">
<link rel="stylesheet" href="{% static '/css/services.css' %}">
<link rel="stylesheet" href="{% static '/css/contact-form.css' %}">
{% endblock %}

{% block body_content %}
<div class="wrapper">
    <section id="message" class="block message">
        <h1 class="jumbo">
            {% trans "There are no limits when you love your project. Expanding your project is easier than ever." %}
        </h1>
    </section>

    <section id="value" class="block value">
        <h2>{% trans "How can a website help you grow your business?" %}</h2>
        <div class="columns">
            <ul>
                <li>24/7  Online presence </li>
                <li>Target a wider market</li>
                <li>Reduced marketing costs</li>
                <li>Consumer insight</li>
                <li>Online customer service</li>
                <li>Builds business profile and credibility</li>
                <li>Increase sales</li>
            </ul>
            <img src="{% static 'img/consumer-exp.svg' %}">
        </div>

        <h3>{% trans "We can make yours and your customers online experience more memorable" %}</h3>
    </section>
    <section class="divider">
        <h2>We expect the challenge</h2>
    </section>
    <section id="services" class="block services">
        <svg id="services-svg"></svg>
    </section>
    <!-- <div class="block burgundy">
        chat with us
    </div> -->
    <div id="contact" class="block orange">
        <h2>{% trans "Tell us about your project" %}</h2>
        {% include 'contact/snippets/contact_form_snippet.html' %}
    </div>
</div>
{% endblock %}